#navbar {
  border: 6px solid black;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 4rem; */
  /* padding: 1em; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#navbar>ul {
  /* border: 6px solid black; */
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

#navbar>ul>li {
  color: var(--font-color);
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
}

#navbar>ul>li>a {
  color: var(--font-color);
  text-decoration: none;
}

#navbar>ul>li>a:hover {
  color: var(--active-color);
}


/* OLD */
/* 
.navbar-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-brand a {
  font-size: xx-large;
  font-weight: bold;
  color: var(--font-color);
}

#navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: var(--active-color);
}

.nav-toggler {
  display: none;
}

.nav-items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.nav-item {
  color: var(--font-color);
  font-size: xx-large;
  font-weight: bold;
  margin: 0;
} */


@media screen and (orientation: landscape) {
  #navbar-content {
    justify-content: center;
    display: flex !important;
  }
}


@media screen and (orientation: portrait) {

  .navbar {
    flex-direction: column;
  }

  .navbar-controls {
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .nav-toggler {
    border: 4px solid black;
    display: block;
    font-size: x-large;
    background-color: transparent;
    width: 3em;
    height: 3em;
    transform: rotate(90deg);
  }

  #navbar-content {
    justify-content: center;
    display: none;
  }

  .nav-items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}